<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mini Account Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark " style="padding-left: 6%; padding-right: 20%;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Mini Account Management System</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="navbar-text text-warning ms-3">
                    @User.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role)?.Value
                    </span>
                }
                <div class="navbar-nav">
                    <a class="nav-link" asp-page="/Index">Home</a>



                    @if (User.IsInRole("Admin"))
                    {
                        <a class="nav-link" asp-page="/ChartOfAccounts/Index">Users</a>
                    }
                    @if (User.IsInRole("Accountant") || User.IsInRole("Viewer"))
                    {
                        <a class="nav-link" asp-page="/Vouchers/Index">Vouchers</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="nav-link" asp-page="/Account/Register">Register User</a>
                        <a class="nav-link" asp-page="/ChartOfAccounts/All">View Accounts</a>


                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link" asp-page="/Account/Logout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link" asp-page="/Account/Login">Login</a>
                        <a class="nav-link" asp-page="/Account/Register">Register User</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>