@page
@model MiniAccountManagementSystem.Pages.Account.AccessDenied
@{
    ViewData["Title"] = "AccessDenied";
}
<div style="padding-left: 20%; padding-right: 20%;">
<h1>@ViewData["Title"]</h1>


<p>You do not have permission to access this page.</p>
<a asp-page="/Index" class="btn btn-primary">Return to Home</a>
</div>