@page
@model MiniAccountManagementSystem.Pages.ChartOfAccounts.Edit
@{
    ViewData["Title"] = "Edit";
}


<h2>Edit Account</h2>

<form method="post">
    <input type="hidden" asp-for="Account.Id" />
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Account.Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Balance</label>
        <input asp-for="Account.Balance" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <label>Parent Account</label>
        <select asp-for="Account.ParentAccountId" class="form-control">
            <option value="">-- None --</option>
            @foreach (var acc in Model.AllAccounts.Where(a => a.Id != Model.Account.Id))
            {
                <option value="@acc.Id">@acc.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>